body{
    margin: auto;
    font-family: Arial;
    width: 100%;
}
.logo{
    width: 6%;
    opacity: 100%;
}
.navegador{
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;

}
.oculto{
    color: white;
}
.sidenav{
    display: flex;
    align-items: center;
    opacity: 100%;

}
.sidenav a{
    padding: 20px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
    font-family: sans-serif;

}

.sidenav a:hover{
    color: white;
    background-color: black;
}
.video{
    text-align: center;
    padding-top: 50px;
}
.video video{
    width: 100%;
}

.imagenes .zapa{
    width: 100%;
}
.contenedor{
    margin-bottom: 1%;
}
.imagenes{
    margin: auto;
    margin-top: 20px;
    width: 100%;
    display: block;

}
.imagenes div{
    display: flex;
    justify-content: space-evenly;
}
.tituloZ{
    margin: auto;
    display: block;
    text-align: center;
    padding: 80px;
    font-family: Candara;
}
.amarilla{
   width: 100%;
    cursor: pointer;
}
.caja{
    display: flex;
    align-items: center;
    width: 60%;
    margin: auto;
    justify-content: center;
}
.parrafo{
    display: flex;
    font-size: 18px;;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}
.pp{
    text-align: center;
    width: 50%;
}
.img1{
   width: 50%;
}

.img2{
    display: flex;
}
#formTC, #formPP{
    display: none;
}
/* Cajas de las zapatillas */
.cajas {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.imageZ {
  display: block;
  width: 150%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(173, 173, 173); /* Black see-through */
  color: #ffffff;
  width: 150%;
  transition: .75s ease;
  opacity:0;
  font-size: 20px;

  text-align: center;
}

.cajas:hover .overlay {
  opacity: 1;
}



@media (width>=1024px){ /* PC */
    #forma{
        width: 50%;
        margin: auto;
    }

}
@media (width>=767px){ /* Tablet */
    #forma{
        width: 70%;
        margin: auto;
    }

}
@media (width<767px){ /* Smartphone */
    #forma{
        width: 90%;
        margin: auto;
    }
    .listaFP{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }
    .pa{
        margin: 0px;
    }

}